<div role="tabpanel" class="tab-pane fade in {{ first ? 'active' : '' }}" id="{{ feed.id }}">
    <div class="tab-inner">
        <p class="lead">{{ feed.content  }}</p>
        <hr>
        <p><em class="text-capitalize">{{ feed.source }} <span class="sep">|</span> <a href="{{ feed.rss_link  }}">{{ feed.timestamp }} </a></em></p>
    </div>
</div>