<div role="tabpanel" class="tab-pane fade in {{ first ? 'active' : '' }}" id="{{ index }}">
    <div class="tab-inner">
        <p class="lead">{{ feedItem.desc|raw }}</p>
        <hr>
        <p><em class="text-capitalize">{{ feedItem.source|raw }} <span class="sep">|</span> <a href="{{ feedItem.link|raw }}">{{ feedItem.date_posted|humanDateDiff }} ago</a></em></p>
    </div>
</div>
